@media (max-width: 700px) {
  .sidebar {
    max-width: 70px;

  }
  .title-text {
    display: none;
  }

  .hamburger-btn {
    font-size: 30px;
    padding: 35px 5px;
  }

  .menu {
    display: none;
  }

  .chat {
    display: none;
  }

  .topbar {
    bottom: 0;
    height: 40px;
    width: 100%;
    padding-right: 0px;
    font-size: 15px;
    left: 0;
  }

  .main-container {
    padding-left: 70px;
  }

  .general {
    margin-top: 20px;;
  }

  .chart img {
    max-height: 120px;
  }

  .table-wrapper {
    flex-direction: column;
    margin: 15px 0px;
  }

  .table-links {
    width: 100%;
  }

  .table-general {
    width:100%;
    padding: 0 20px;
  }

  .title-chart {
    padding: 20px;
  }

  .link a {
    font-size: 13px;
  }

  .table-data-links {
    font-size: 13px;
    padding: 5px 5px;
  }

  td.icon {
    display: flex;
    flex-direction: row;
  }

  .icons {
    padding: 15px 0;
  }

  .sidebar-media-active {
    display: flex;
    max-width: 200px;
    flex-direction: column;

    .title {
      display: flex;

      .title-text {
        display: inline;
        padding: 15px 0;
        font-size: 27px;
      }

      .hamburger-btn {
        padding: 35px 5px;
      }
    }

    .menu {
      display: flex;
      .menu-list {
        .item-menu {
          width: 200px;
          font-size: 15px;
        }
      }

    }
  }
}