/* Colors */
$paragraph-color: #9a9a9b;
$brand-main-color: #f58220;
$link-color: #ffa200;
$nav-main-color: #3B3A3B;
$black-color: #000000;
$page-color: #ffffff;
$background-color: #e3e3e3;


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;